*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

      /* cores*/

      /*titulo*/
    --tt-heading: #0C3440;

      /* label*/
    --tt-label:#00453A;
      /* input*/
    --tt-input: #212529;
      /*borda input*/
    -ot-input:#02799D;
     /*borda do input2 */
    --bd-input: rgba(73, 80, 87, 0.3);

    /* backgroud do input*/
    --bg-input:#DCE2E9;
     /*placehoulder */
    --tt-placeholder: hsba(210, 16%, 34%, 0.5);

     /*button*/
    --bg-button: #02799D;
    --tt-button: white;
    --bg-button-hover: #07495d;

     /*fundo do erro*/
    --bg-error: #F03E3E;
    --tt-error:white

}
body{
   background-color:  #040924;
   font-size: 1.6rem;
   font-family: "roboto, sans-serif";
}

body, input, button{
    font-size: 1.6rem;
}
.container{
    display: grid;
    height: 100vh;
    place-content: center;
}

#card{
    background: white;
    padding: 4.8rem 6.4rem 6.4rem;
    max-width: 42.8rem;
    margin-inline: auto;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

#title{
    font-size: 1.6rem;
    line-height: 4rem;
    color: var(--tt-heading);
}

form{
    width: 30rem;
}
form h1{
    margin-bottom: 3.2rem;
}

form label{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--tt-label);
    display: block;
    margin-bottom: .8rem;
}

form input{
    width: 100%;
    border: 1px solid var(--bd-input);
    background: var(--bg-input);
    padding: 1.6rem;
    border-radius: .4rem;
}
 
form input:focus{
    outline: 2px solid var(-ot-input);
}

form input::placeholder{
    color: var(-tt-placeholder);
}
.input-wrapper + .input-wrapper{ 
    margin-top: 1.6rem;
}

form button{
    margin-top: 3.2rem;
    padding: 1.6rem;  
    width: 100%;

    border-radius: .4rem;
    border: none;
    background: var(--bg-button);
    color: var(--tt-button);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    font-weight: bold;

    cursor: pointer;
    transition: background 3s;
}

form button:hover{
    background: var(--bg-button-hover);
}

/*modal*/
.modal-wrapeer.open{
    opacity: 1;
    visibility: visible;
}
.modal-wrapeer{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: grid;
    place-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal{
    position: relative;
}
.card{
    background: white;
    padding: 4.8rem 6.4rem 6.4rem;
    max-width: 42.8rem;
    margin-inline: auto;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.modal button{

    background: none;
    border: none;

    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    cursor: pointer;
    transition:transform .3s;
}

.modal button:hover{
    transform: scale(1.1);
}

/*  alert-error*/ 
.alert-error.open{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.alert-error{
    position: absolute;
    background-color: var(--bg-error);
    top: 0;
    left: 0;
    right: 0;
    color: var(--tt-error);
    text-align: center;
    padding: .8rem 0;
    font-weight: bold;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transform: tranform .5s;
}